################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/build
/conan_build/graph_info.json
/conan_build/conaninfo.txt
/conan_build/conanbuildinfo.txt
/conan_build/conanbuildinfo.cmake
/conan_build/conan.lock